// About.
section#about.about: .container
  .row: .col-lg-12.text-center
    include _brands
  .row: .col-lg-12.text-center
    include _yt-player
    include _cicadia
  .row: .col-lg-12.text-center
    include _partials/_spotify_playlist
