mixin social(name, url)
  li: a(href=url title=name)
    i(class=' fa fa-#{name} fa-fw fa-3x')

include _partials/_spotify_follow
br
br
ul.list-inline
  +social('facebook', 'https://www.facebook.com/johnanthonyclarkmusic/')
  +social('youtube', 'https://www.youtube.com/channel/UCJU8odrbUOQ-EgPlTuFmZlw')
  +social('spotify', 'https://open.spotify.com/artist/6qI3xSLLnXumS2aNE3Rmlo')
  +social('bandcamp', 'https://johnclark2.bandcamp.com/')
  +social('twitter', 'https://twitter.com/peachmoonpub')
  +social('instagram', 'https://www.instagram.com/peachmoonpub/')

br