h2 CiCaDiA is out now!
p: em.
  Joined in lucid dreams by The StickFolk band of bugs,     #[br]
  John Clark shares the story of Hoppy and his mystical     #[br]
  journey from a midwestern pasture to CiCaDiA, bug heaven. #[br]

h3: a(href='https://itun.es/us/v4ISkb') Buy on iTunes

hr