h2 CiCaDiA is out now!
p: em.
  Joined in lucid dreams by The StickFolk band of bugs,     #[br]
  John Clark shares the story of Hoppy and his mystical     #[br]
  journey from a midwestern pasture to CiCaDiA, bug heaven. #[br]

h3: a(href='https://itun.es/us/v4ISkb') Buy on iTunes

.center-block(style='max-width:600px;max-height:785px;min-width:300px;')
  div(style='position: relative;height: 0;overflow: hidden;padding-bottom:100%; padding-top:200px;')
    iframe(
      name="album"
      style="position:absolute;top:0px;left:0px;width:100%;height:100%;border:0px;" 
      src="//widget.cdbaby.com/401e31c3-c8be-49f8-b0e3-1cf5fddf6916/album/light/opaque"
    )