// Footer.
footer#contact: .container: .row: .col-lg-10.col-lg-offset-1.text-center
  ul.list-unstyled
    li
      i.fa.fa-envelope-o.fa-fw
      a(href='mailto:peachmoonpub@gmail.com') peachmoonpub@gmail.com
  br
  hr.small
  p.text-muted Copyright &copy; Death Therapy #{new Date().getFullYear()}