// Links
section#portfolio.portfolio: .container: .row: .col-lg-10.col-lg-offset-1.text-center
  h2 Links
  hr.small
  .row
    h3 Music

    h4 iTunes
    a(href='https://itun.es/us/v4ISkb') CiCaDiA
    br
    a(href='https://itunes.apple.com/us/album/the-ghost-is-clear/id1179217918') The Ghost Is Clear
    br
    a(href='https://itunes.apple.com/us/album/death-therapy/id1044851697') Death Therapy
    br
    a(href='https://itunes.apple.com/us/album/baby-steps/id907601447') Baby Steps
    br
    a(href='https://itunes.apple.com/us/album/time-to-begin/id771237619') Time To Begin
    
    h4 Streaming
    a(href='https://www.youtube.com/channel/UCJU8odrbUOQ-EgPlTuFmZlw') YouTube
    br
    a(href='https://soundcloud.com/johnanthonyclark') Soundcloud
    br
    a(href='http://www.pandora.com/john-clark-rock') Pandora
    
    h5 On Spotify...
    a(href='https://open.spotify.com/album/3STanZEndf9X8gThyvkSPl') CiCaDiA
    br
    a(href='https://play.spotify.com/album/2wXfcX3wMZUcW1nPHK9VNx') The Ghost Is Clear
    br
    a(href='https://play.spotify.com/album/3X8Z9r3sOti4Z2GBa23Cur') Death Therapy
    br
    a(href='https://open.spotify.com/album/6mlvBH0cdvWzwG7StLIRRl') Baby Steps
    br
    a(href='https://open.spotify.com/album/6XXF35kTAbMJRGwvmtY27M') Time To Begin
    h4 Bandcamp
    a(href='https://johnclark2.bandcamp.com/album/death-therapy') Death Therapy
    br
    a(href='https://johnclark2.bandcamp.com/music') Discography
    h4 Tabs!
    a(href='https://www.ultimate-guitar.com/tabs/john_clark_tabs.htm') Ultimate Guitar
    
    h3 Friends
    a(href='https://www.facebook.com/theebq/?fref=ts') Echo Base Quartet
    br
    a(href='https://www.facebook.com/HKN-133101103385937/?ref=hl') Helen Keller Nation
    br
    a(href='https://www.facebook.com/johnnie.heber.er/?fref=ts') Johnnie Heberer
    br
    a(href='http://jcpst.com') Joseph Post
    br
    a(href='http://www.mississippiflapjacks.com') Mississippi Flapjacks
    br
    a(href='https://www.facebook.com/nahkoandmedicineforthepeople/') Nahko and Medicine for the People
    br
    a(href='https://www.facebook.com/neurologicmusic/') Neuro-Logic
    br
    a(href='http://www.darkeningofthesun.com/') Noble Darkening
    br
    a(href='https://www.facebook.com/onlysoundband/') Only Sound
    br
    a(href='https://www.facebook.com/NineRabbitsLaughing/?ref=aymt_homepage_panel') Nine Rabbits Laughing
    br
    a(href='https://www.facebook.com/oaksteellightning/?fref=ts') Oak Steel and Lightning
    br
    a(href='https://www.facebook.com/Petes-Pedals-St-Louis-1539987856307597/') Pete's Pedals
    br
    a(href='https://www.facebook.com/The-Soothing-Tones-of-Peter-Rodenberg-112514492098891/') Peter Rodenberg
    br
    a(href='http://www.relix.com/') Relix
    br
    a(href='https://www.facebook.com/TheOfficialResidents/') The Residents
    br
    a(href='http://www.robbiefrazelle.com') Robbie Frazelle
    br
    a(href='https://www.facebook.com/schwagofficial/') The Schwag
    br
    a(href='https://www.facebook.com/ScrubAndAceHa/') Scrub and Ace Ha
    br
    a(href='https://www.facebook.com/Woodshine/?fref=ts') Woodshine
    br
    a(href='https://www.facebook.com/ZenJunkieArt/') Zen Junkie
    br