section#other-projects.portfolio: .container: .row: .col-lg-10.col-lg-offset-1.text-center
    h2 Other Projects
    hr.small
    .row
        h4: a(href='https://songwhip.com/finmoon') Fin Moon - Instrumental Guitar
        h4: a(href='https://songwhip.com/helengreen') Helen Green - Instrumental Piano
