h2#sea-oddity Sea Oddity is out now!

div(style="position:relative;height:0;padding-bottom:56.25%")
    iframe(
        src="https://www.youtube-nocookie.com/embed/rV_V7vKdwDs?start=1829"
        width="640"
        height="360"
        style="position:absolute;width:100%;height:100%;left:0"
        allowfullscreen
    )

h3: a(href='https://open.spotify.com/album/63sA2mM6SA7ZB0MaFv1Go3?si=X5zGnj9HRbuJmRdDjYEYyA') Listen on Spotify
h3: a(href='https://songwhip.com/john-clark/sea-oddity') Stream or Buy Digital
h3: a(href='https://johnclark2.bandcamp.com/album/sea-oddity') Purchase Physical Copies
h3 What People Are Saying
a(href='https://www.obscuresound.com/2022/01/premiere-john-clark-harry-waters-sea-oddity/') Premiere: John Clark & Harry Waters – ‘Sea Oddity’
br
a(href='https://www.pinkfloydz.com/harry-waters-john-clark-release-sea-oddity-album/') Harry Waters & John Clark Release ‘Sea Oddity’ Album